@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: 230, 56, 149;
  --background: #1e272e;
  --foreground: rgb(var(--foreground-color));
  --black: #141b1c;
  --yellow: #f1c40f;
}

body {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  background: var(--background);
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply text-white
  }
  h2 {
    @apply text-3xl;
  }
  a.blue-link {
    color: #81ecec;
    @apply underline;
  }
}

@layer components {
  .neon-text {
    color: #FFF;
    --color: var(--foreground);
    font-family: "Pacifico", "Bebas Neue", Arial, Helvetica, sans-serif;
    text-shadow:
        0 0 2px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px var(--color),
        0 0 82px var(--color),
        0 0 92px var(--color),
        0 0 102px var(--color),
        0 0 151px var(--color)
  ;
  }

  .pink-neon {
    --color: var(--foreground);
    box-shadow: 0 0 2px #fff,
      0 0 4px #fff5,
      0 0 10px #fff5,
      0 0 21px var(--color),
      inset 0 0 2px var(--color),
      inset 0 0 4px var(--color),
      inset 0 0 10px var(--color)
    ;
  }

  .hero-title {
    @apply pink-neon neon-text relative text-3xl text-center my-10 py-3 px-10 border rounded-[35px];
    background: var(--background);

    display: inline-block;

  }

  .holding-bars::before {
    @apply absolute;
    content: '';
    height: 40px;
    width: 300px;
    z-index: -1;
    right: calc(100% - 35px);
    top: 30%;
    border: 10px solid black;
  }

  .food-item-hero {
    @apply border border-[#FFF7] relative border-b-0;
    box-shadow: 0 0 10px var(--foreground);
  }

  .food-item-hero-overlay {
    @apply absolute left-0 top-0 w-full h-full;
    /*box-shadow:*/
    /*    inset 0 0 2px #fff,*/
    /*  inset 0 0 10px #fff,*/
    /*  inset 0 0 50px var(--foreground)*/
    /*;*/
  }

  .food-item-logo {
    filter: drop-shadow(0 0 2px #FFF);
  }

  .short-text-2 {
    @apply overflow-hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .white-bucket {
    @apply border border-white border-t-0;
  }
}
